#img-logo {
    height: 200px;
    width: 200px;
}
.button {
    background-color: #B4B4B4;
    font-size: 40px;
  }
  #mainBody {
    display: flex;
    margin-top: 260px;
    justify-content: center;
    align-items: center;
  }
  .header {
    padding: 50px;
    text-align: center;
    background: #1ABC9C;
    color: white;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
